h1, h2, h3, h4, h5, h6 {
	color: black;
}

#side-carousel img {
	margin: 0 auto;
}

.footer-blurb {
    padding: 30px 0;
    margin-top: 20px;
    background-color: #eee;
    color: black;
}
    
.footer-blurb-item {
    padding: 20px;
}
 
.small-print {
	background-color: #fff;
	padding: 30px 0;
}

.small-print {
	text-align: center;
}

.ratio {
    position: relative;
    width: 100%;
    height: 60%;
    padding-bottom: 50% ; /* % of width, defines aspect ratio*/
    
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;  
}

.center-cropped {
  	/*position: inherit;*/
  	width: auto;
  	max-width: 200%;
  	height: auto;
  	background-position: center center;
  	background-repeat: no-repeat;

  	object-fit: fill;
  	object-position: center;
}

.resize-img {
  width: 110px;
  height: 180px;

  background-position: center center;
  background-repeat: no-repeat;
}

.top-image {
	overflow: visible;
}

.top-text {
	y-axis: bottom;

	text-align: center;

	padding-top: 60px;

	font-size: 30px;
	color: white;
	text-shadow: 2px 2px #a1a1a1;
}